.AppBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__Logo {
    width: 130px;
    margin-right: 15px;
  }

  &__Link {
    font-size: 21px;
    font-weight: 600;
    padding: 0px 15px;
    color: black;

    &_Active {
      color: white;
    }
  }
}
