.AuthNav {
  display: inline-flex;
  align-items: center;

  &__Link {
    font-size: 21px;
    font-weight: 600;
    padding: 0px 15px;
    color: black;

    &_Active {
      color: white;
    }
  }
}
