.Section {
  width: 720px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: lightslategray;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);

  &__Title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 23px;
    color: white;
  }
}
